[submodule "wolfssl-src/wolfssl"]
	path = wolfssl-src/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "wolfhsm-src/wolfhsm"]
	path = wolfhsm-src/wolfhsm
	url = https://github.com/wolfSSL/wolfHSM.git
[submodule "wolftpm-src/wolftpm"]
	path = wolftpm-src/wolftpm
	url = https://github.com/wolfSSL/wolfTPM.git
